.signup-form{
    display:flex;
    flex-flow:column;
    gap:2rem;
    align-items: center;
    justify-content: space-around;
}

.block{
    display:block;
    border: solid 0.5px;
}

.textarea{
    width: 20rem;
    height:10rem;
}


.button{
    width:20rem;
    border:solid 1px;
}

